.customtLgText {
  font-size: 3rem;
}
.hidden{
  display: none;
}

@media only screen and (min-width: 768px) {
  .customtLgText{
    /*background-color: lightblue;*/
    font-size: 5rem;
  }
}
@media only screen and (min-width: 992px) {
  .customtLgText{
    /*background-color: lightblue;*/
    font-size: 5.8rem;
  }
}

